<h1 style= "padding: 0px; margin: 0px;line-height: 100%">Login/Logout Website Example</h1>
<h4 style= "padding: 0px 10px; margin: 0px;line-height: 100%">Flask-login, no Flask-sqlalchemy</h4>

<div style="padding: 10px 10px">
  {% if current_user.id %}
  Status: Logged in as <b style="color: green ">{{ current_user.id }}</b>
  {% else %}
  Status: <i style="color: gray">Not logged in</i>
{% endif %}
</div>


<div style="padding: 20px 10px">
  <h2 style= "padding: 0px; margin: 0px;line-height: 100%">Navigation</h2>
  <div style="display: flex; padding-bottom:20px">
    <form method="POST" action="">
      <input type="submit" value="page" name="page">
      <input type="submit" value="protected_page_1" name="protected_page_1">
      <input type="submit" value="protected_page_2" name="protected_page_2">
      <input type="submit" value="logout" name="logout">
    </form>
    
  </div>
  
  <form method="POST" action="">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"><br><br>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password"><br><br>
    <input type="submit" value="Login" style="background-color:darkgray">
  </form> 

</div>
